<section class="panel">
  <p class="panel-heading" style="background-color:hsl(0, 0%, 88%) ;color:hsl(0, 0%, 21%)">
    Sales Chart
  </p>

  <div class="panel-block ">
    <div  style="height: 350px; width: 100%;">
      <div class="column">
      <div class="box">

        <google-chart #chart
   [title]="title"
   [type]="type"
   [data]="data"

   [options]="options"
   [width]="width"
   [height]="height">
</google-chart>

       </div>
      </div>
    </div>

  </div>
  <br><br><br><br><br><br><br><br><br>
  <div class="panel-block">
    <div *ngFor="let item of sales">
      <p>{{item.totalPrice}}</p><br>
      <p>{{item.dateTime}}</p><br>
      <p>{{item.drugName}}</p><br>
      <p>{{item.paidAmount}}</p><br>
      <p>{{item.tax}}</p>
        </div>

  </div>

</section>

