<div style="overflow-y:auto ;overflow-x: hidden;height: 500px;">
<table class="table is-full menu-list"  >
  <tbody>
      <tr>
        <div class="div columns  is-full btn r" style="width: 200%;" >
            <div class="div column" *ngFor="let docOder of docOders ">
              <table class="table is-full" style="width: 52%;">
                <thead style="font-weight: bold;">
                  <td>Doctor Name</td>
                  <td>Doctor Contact </td>
                  <td >DoctorID </td>
                  <td >Doctor Email </td>
                  <td >Drug Names </td>
                  <td>Drug Prices</td>
                  <td>Drug Quantities</td>
                  <td >Total</td>
                  <td >Pickup Date</td>
                  <td class="level-right"><a class="button is-small is-primary" href="#">Order Verify</a></td>
                </thead>
                <tbody>
                  <td>{{docOder.doctorName}}</td>
                  <td>{{docOder.doctorContact}} </td>
                  <td >{{docOder.doctorId}} </td>
                  <td >{{docOder.doctorEmail}}</td>
                  <td >{{docOder.drugName}} </td>
                  <td>{{docOder.drugPrice}}</td>
                  <td>{{docOder.drugQuantity}} </td>
                  <td >{{docOder.totalAmount}} </td>
                  <td >{{docOder.pickupDate}} </td>

                  <td class="level-right"><a class="button is-small is-primary" style="font-weight: bold;" href="#">View Order</a></td>

                </tbody>
              </table>
            </div>
        </div>
      </tr>
<br>



  </tbody>
</table>
</div>
<style>

  .menu-list{
    border-radius: 2px;
    width: 220%;
    display: block;
    padding: 10px;
    }
    .btn{
      width: 100%;
      color:hsl(0, 0%, 21%);
      background-color: hsl(0, 0%, 88%);
      border-radius: 3px;
    }
    .newclass :hover{
      background-color: hsl(0, 0%, 21%);
      color: hsl(0, 0%, 88%);
    }

</style>
