<div style="margin-top: 5%;">
  <section class="section columns is-centered">
    <div class="column is-full-desktop is-full-mobile">
      <app-expired-window></app-expired-window>
    </div>
  </section>
  <section class="section columns">
    <div class="column is-full-desktop is-full-mobile">
      <app-out-of-stock-window></app-out-of-stock-window>
    </div>
  </section>
  <section class="section columns is-centered">
    <div class="column is-half is-full-mobile">
      <app-about-to-expire-window></app-about-to-expire-window>
    </div>
    <div class="column is-half is-full-mobile">
      <app-about-to-finish-window></app-about-to-finish-window>
    </div>
  </section>
</div>

