
<div style="margin-top: 5%;">


  <div style="margin-top: 2%; height:900px">
    <section class="section columns">
      <div class="column is-full-desktop is-full-mobile">
        <!-- <app-search-supplier-window></app-search-supplier-window> -->
        <div class="tabs is-toggle is-fullwidth">
          <ul>
            <li class="is-active ">
              <a routerLink="/doctororders">
                <!-- <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span> -->
                <span>Add New Accounts</span>
              </a>
            </li>
            <li >
              <a routerLink="/doctororders/new">
                <!-- <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span> -->
                <span>Manage Doctor Account</span>
              </a>
            </li>
            <li>
              <a routerLink="/doctororders/pickedUp">
                <!-- <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span> -->
                <span>Manage Assintant Pharamasist Account</span>
              </a>
            </li>
            <li>
              <a routerLink="/doctororders/pickedUp">
                <!-- <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span> -->
                <span>Manage Cashier Account</span>
              </a>
            </li>


          </ul>
        </div>
      </div>
    </section>
  <section class="panel is-left is-half" style="margin: 3px;margin-top: -30px; width: 50%;">
    <p class="panel-heading" style="background-color:hsl(0, 0%, 88%) ;color:hsl(0, 0%, 21%)">
      Add Pharamacy User
    </p>
    <div class="panel-block ">
      <div  style="height: 610px; width: 115%;">



        <!-- ashdjkhasd -->
<app-add-doctor-user></app-add-doctor-user>



      </div>
    </div>
    <div class="panel-block">

    </div>
  </section>
  <section class="panel is-right is-half" style="margin: 3px;margin-top: -50%;margin-left: 51%; width: 49%;">
    <p class="panel-heading" style="background-color:hsl(0, 0%, 88%) ;color:hsl(0, 0%, 21%)">
      Add new Doctor Account
    </p>
    <div class="panel-block ">
      <div  style="height: 610px; width: 115%;">


        <!-- hkjdhkjshds -->
<app-add-phamacy-user></app-add-phamacy-user>

      </div>
    </div>
    <div class="panel-block">

    </div>
  </section>
  </div>

  </div>
