<div style="overflow-y:auto ;overflow-x: hidden;height: 500px;">
  <table class="table is-full menu-list"  >
    <tbody>
        <tr *ngFor="let inventory of inventorys">
          <div class="div columns  is-full btn r" style="width: 200%;" >
              <div class="div column" >
                <table class="table is-full" style="width: 61.6%;">
                  <thead style="font-weight: bold;">
                    <td style="width: 22%;">Supplier's Email </td>
                    <td style="width: 20%;">Drug Name </td>
                    <td style="width: 8%;">Quantity </td>
                    <td style="width: 10%;">Batch ID </td>
                    <td style="width: 35%;">Expire Date</td>
                    <td style="width: 15%;">Price</td>
                    <td ></td>

                  </thead>
                  <tbody>
                    <td>{{ inventory.email }}</td>
                    <td>{{ inventory.name }}</td>
                    <td>{{ inventory.quantity }}</td>
                    <td >{{ inventory.batchId }}</td>
                    <td >{{ inventory.expireDate }} </td>
                    <td >{{ inventory.price }} </td>
                    <td class="level-right"><a class="button is-small is-primary" style="font-weight: bold;margin-right: 1%;" (click)="OpenMessageBox(inventory.email,inventory.name,inventory.quantity,inventory.batchId,inventory.expireDate,inventory.price  )">Request </a></td>

                  </tbody>
                </table>
              </div>

              <div id="confirmBox" *ngIf="displayConfirmBox">
                <div class="message"></div>
                <button (click)="ClickYes">Yes</button>
                <button (click)="ClickNo">No</button>
            </div>


          </div><br>
        </tr>
  <br>




    </tbody>
  </table>
  </div>
  <style>

    .menu-list{
      border-radius: 2px;
      width: 220%;
      display: block;
      padding: 10px;
      }
      .btn{
        width: 100%;
        color:hsl(0, 0%, 21%);
        background-color: hsl(0, 0%, 88%);
        border-radius: 3px;
      }
      .newclass :hover{
        background-color: hsl(0, 0%, 21%);
        color: hsl(0, 0%, 88%);
      }

  </style>
