.header {
    margin-bottom: 5%;
    display: fixed;
    text-align: center;
}

.mat-dialog-content {
    max-height: 500px;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.met-requirements {
    width: 95%;
    padding: 10px;

    border-radius: 6px;
    border: rgb(113, 113, 113);
    border-width: 3px;
    border-style: solid;

    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
}

.single-req {
    border-radius: 12px;
    border: rgb(152, 152, 152);
    border-width: 2px;
    border-style: solid;

    padding: 6px;
    margin: 10px 15px;
}

.child-met-requirements-list {
    margin-left: 15%;
}

.requirement-instance {
    display: block;
}

.requirement-instance .description {
    visibility: hidden;
    position: absolute;
    display: block;
    z-index: 1;

    padding: 0px 8px;
    font-size: 0.8em;
    background-color: grey;
    text-align: center;
    
    max-width: 200px;

    border-style: solid;
    border-width: 10px;
    border: black;
    border-radius: 6px;
}

.indication:hover,
.indication:hover + .description {
    cursor: help;
    visibility: visible;
}

.dialog-utilities {
    align-items: center;
    justify-content: space-between;
}

.action-button {
    width: 65px;
    height: 30px;
    background-color: rgb(0, 196, 167);
    color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: bold;

    border-radius: 2px;
    border: none;
    outline: none;

    transition: all 0.4s;
    cursor: pointer;
}

.action-button:hover,
.action-button:active {
    background-color: rgb(0, 184, 156);
}

