<div class="columns is-offset-1 is-11 is-centered">
  <app-stat-panel></app-stat-panel>
</div>
<section class="section columns">
  <div class="column is-one-third-desktop is-full-mobile">
    <app-expiredate-window></app-expiredate-window>
  </div>
  <div class="is-one-third-desktop column is-full-mobile">
    <app-saleschart-window></app-saleschart-window>
  </div>
  <div class="is-one-third-desktop column is-full-mobile">
    <app-outofstock-window></app-outofstock-window>
  </div>
</section>
