<div style="overflow-y:auto ;overflow-x: hidden;height: 900px;">

<form (submit)="onAddSupplier(supplierForm)" #supplierForm="ngForm">


  <div class="field">
    <label class="label" >SUPPLIER ID</label>
    <input type="text" class="is-center input" name= "supplierID" [ngModel]="supplier?.supplierID" style="width: 100%;" placeholder="19283838" #supplierID="ngModel" >
  </div>

  <div class="field">
    <label class="label" >NAME</label>
    <input type="text" class="is-center input" name="name"   [ngModel]="supplier?.name" #name="ngModel"  style="width: 100%;" placeholder="Mr S M Bandara" />
  </div>

  <div class="field">
    <label class="label" >EMAIL</label>
    <input type="text" class="is-center input"  [ngModel]="supplier?.email" #email="ngModel" name="email"  style="width: 100%;" placeholder="xxx@gmail.com" />
  </div>

  <div class="field">
    <label class="label">CONTACT</label>
    <input type="text" class="is-center input"  [ngModel]="supplier?.contact" #contact="ngModel" name="contact"  style="width: 100%;" placeholder="071xxxxxxx" />
  </div>

  <div class="field">
    <label class="label">DRUGS AVAILABLE</label>
    <input type="text" class="is-center input"  [ngModel]="supplier?.drugsAvailable" #drugsAvailable="ngModel" name="drugsAvailable"  style="width: 100%;" placeholder="Penadol, Dalcolax" />
  </div>




  <!-- <table class="table is-full" style="width:100%">
    <thead>
      <tr>
        <th>SUPPLIER ID</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>CONTACT</th>
        <th>DRUGS AVAILABLE</th>
      </tr>
    </thead>
    <tbody>
      <tr>

        <td><input type="text" class="is-center input"  ngModel #supplierID="ngModel" name= "supplierID"  style="width: 100%;" placeholder="19283838" /></td>
        <td><input type="text" class="is-center input"  ngModel #name="ngModel" name="name"  style="width: 100%;" placeholder="Mr S M Bandara" /></td>
        <td><input type="text" class="is-center input"  ngModel #email="ngModel" name="email"  style="width: 100%;" placeholder="xxx@gmail.com" /></td>
        <td><input type="text" class="is-center input"  ngModel #contact="ngModel" name="contact"  style="width: 100%;" placeholder="071xxxxxxx" /></td>
        <td><input type="text" class="is-center input"  ngModel #drugsAvailable="ngModel" name="drugsAvailable"  style="width: 100%;" placeholder="Penadol, Dalcolax" /></td>

      </tr>

    </tbody>
  </table> -->
  <div class="panel-block" style="width: 100%;margin-top: 30px;">
    <button class="button is-primary   is-fullwidth" type="submit">
      Add
    </button>
  </div>
</form>
  </div>


  <style>

    .menu-list{
      border-radius: 2px;
      width: 220%;
      display: block;
      padding: 10px;
      }
      .btn{
        width: 100%;
        color:hsl(0, 0%, 21%);
        background-color: hsl(0, 0%, 88%);
        border-radius: 3px;
      }
      .newclass :hover{
        background-color: hsl(0, 0%, 21%);
        color: hsl(0, 0%, 88%);
      }

  </style>
  <script>

  </script>



