<div style="margin-top: 5%;">
    <section class="section columns">
      <div class="column is-full-desktop is-full-mobile">
        <app-new-doctor-order-window></app-new-doctor-order-window>
      </div>
    </section>
    <section class="section columns is-centered">
      <div class="column is-half is-full-mobile">
        <app-verified-doctor-order-window></app-verified-doctor-order-window>
      </div>
      <div class="column is-half is-full-mobile">
        <app-pickup-order-window></app-pickup-order-window>
      </div>
    </section>
  </div>
