<div style="overflow-y:auto ;overflow-x: hidden;height: 500px;">
  <table class="table is-full menu-list"  >
    <tbody>



        <tr  *ngFor="let supplier of suppliers">
          <div class="div columns  is-full btn r" style="width: 128%;" >
              <div class="div column" >
                <table class="table is-full" style="width: 100%;">
                  <thead style="font-weight: bold;">
                    <td>SupplierID</td>
                    <td>Name </td>
                    <td >Email</td>
                    <td >Contact</td>
                    <td >DrugsAvailable</td>
                    <td ></td>

                  </thead>
                  <tbody>
                    <td>{{ supplier.supplierID }}</td>
                    <td>{{ supplier.name }} </td>
                    <td >{{ supplier.email }} </td>
                    <td >{{ supplier.contact }} </td>
                    <td >{{ supplier.drugsAvailable }} </td>
                    <td class="level-right"><a class="button is-small is-primary" style="font-weight: bold;margin-right: 1%;" href="#">Edit </a><a class="button is-small is-danger" style="font-weight: bold;" href="#">Delete</a></td>

                  </tbody>
                </table>
              </div>
          </div><br>
        </tr>





    </tbody>
  </table>
  </div>
  <style>

    .menu-list{
      border-radius: 2px;
      width: 220%;
      display: block;
      padding: 10px;
      }
      .btn{
        width: 100%;
        color:hsl(0, 0%, 21%);
        background-color: hsl(0, 0%, 88%);
        border-radius: 3px;
      }
      .newclass :hover{
        background-color: hsl(0, 0%, 21%);
        color: hsl(0, 0%, 88%);
      }

  </style>
