<div style="overflow-y:auto ;overflow-x: hidden;height: 500px;">
  <table class="table is-full menu-list"  >
    <tbody>
      <div class="" *ngFor="let inventory of inventorys">
        <tr >
          <div class="div columns  is-full btn  " style="width: 140%;" >
              <div class="div column" >
                <table class="table is-full" style="width: 90.5%;">
                  <thead style="font-weight: bold;">
                    <td >Supplier's Email </td>
                    <td >Drug Name </td>
                    <td >Quantity </td>
                    <td>Batch ID </td>
                    <td >Expire Date</td>
                    <td >Price</td>
                    <td></td>
                  </thead>
                  <tbody>
                    <td style="width: 16%;">{{ inventory.email }}</td>
                    <td style="width: 10%;">{{ inventory.name }}</td>
                    <td style="width: 7%;">{{ inventory.quantity }}</td>
                    <td style="width: 10%;">{{ inventory.batchId }}</td>
                    <td style="width: 20%;">{{ inventory.expireDate }} </td>
                    <td style="width: 5%;">{{ inventory.price }} </td>
                    <td style="width: 1%;"> <a class="button is-small is-primary " style="font-weight: bold; " href="#">Picked Up</a>
                    </td>
                  </tbody>
                </table>
              </div>
              <div>
            </div>
          </div>
        </tr><br><br>
        <!-- <tr>
          <div class=" " style="width: 134.5%;">
          <a class="button is-small is-primary is-right" style="font-weight: bold; " href="#">Picked Up</a>
        </div>
        </tr><br> -->
      </div>
  <br>

<br>



    </tbody>
  </table>
  </div>
  <style>

    .menu-list{
      border-radius: 2px;
      width: 220%;
      display: block;
      padding: 10px;
      }
      .btn{
        width: 100%;
        color:hsl(0, 0%, 21%);
        background-color: hsl(0, 0%, 88%);
        border-radius: 3px;
      }
      .newclass :hover{
        background-color: hsl(0, 0%, 21%);
        color: hsl(0, 0%, 88%);
      }

  </style>
