<!-- includes the log out button , search bar , and time -->
<div class="navbar-end level-right" >
  <div class="navbar-item level-item">

    <div class="navbar-item">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Search">
        <span class="icon is-left">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>


    <div class="buttons">
      <a class="button is-light">
        Search
      </a>
      <a class="button is-primary">
        <strong>Log Out</strong>
      </a>
    </div>


  </div>
</div>
