
<div>


  <section class="panel">
    <p class="panel-heading" style="background-color:hsl(0, 0%, 88%) ;color:hsl(0, 0%, 21%)">
      Search Drugs
    </p>
    <div class="panel-block ">
      <div  style="height: 50px; width: 100%;">

        <div class="field has-addons is-full" >
          <div class="control is-full" style="width: 100%;">
            <input class="input" type="text" placeholder="Find drugs by name" [(ngModel)]="searchTerm">
          </div>
          <div class="control">
            <a class="button is-primary">
              Search
            </a>
          </div>
        </div>


      </div>
    </div>
    <div class="panel-block">

    </div>
  </section>

  <div class="columns is-multiline is-mobile has-text-centered" *ngIf="!isLoading">
        <div class="column is-3-tablet is-6-mobile" *ngFor="let inventory of inventorys | inventoryFilter: searchTerm" >
          <div >
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3 shadowp">
                <img [src]="inventory.imagePath" [alt]="inventory.name">
              </figure>
            </div>
            <div class="card-content">
              <header class="card-header">
                <p class="card-header-title">
                  {{ inventory.name }}
                </p>

              </header>

              <div class="card-content ">
                <p class="is-left">{{ inventory.price }}</p>
              </div>
              <footer class="card-footer">

                <button class="button btn is-primary is-rounded is-small-mobile  is-focused " style="margin-left: 50%;" >Add to Cart</button>

              </footer>
            </div>
          </div>

        </div>
      </div>



</div>

<div>
<mat-paginator [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator>
</div>


</div>
<style>
  .container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-gap: 0.5em;
}

.card{
	height: max-content;
}

.btn {
      font-size:0.875em;
      display:block;
      left:-60px;
      margin-top:35px;
      width:100%;
    }
</style>
