

<div class="columns is-multiline is-mobile has-text-centered">
  <!-- section1 -->
        <div class="column is-3-tablet is-6-mobile">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <header class="card-header">
                <p class="card-header-title">
                  Panadol 50 mg
                </p>

              </header>

              <div class="card-content ">
                <p class="is-left">Rs. 23</p>
              </div>
              <footer class="card-footer">

                <button class="button btn is-primary is-rounded is-small-mobile  is-focused " style="margin-left: 50%;" >Add to Cart</button>

              </footer>
            </div>
          </div>
        </div>

        <div class="column is-3-tablet is-6-mobile">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <header class="card-header">
                <p class="card-header-title">
                  Panadol 50 mg
                </p>

              </header>

              <div class="card-content ">
                <p class="is-left">Rs. 23</p>
              </div>
              <footer class="card-footer">

                <button class="button btn is-primary is-rounded is-small-mobile  is-focused " style="margin-left: 50%;" >Add to Cart</button>

              </footer>
            </div>
          </div>
        </div>

        <div class="column is-3-tablet is-6-mobile">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <header class="card-header">
                <p class="card-header-title">
                  Panadol 50 mg
                </p>

              </header>

              <div class="card-content ">
                <p class="is-left">Rs. 23</p>
              </div>
              <footer class="card-footer">

                <button class="button btn is-primary is-rounded is-small-mobile  is-focused " style="margin-left: 50%;" >Add to Cart</button>

              </footer>
            </div>
          </div>
        </div>

        <div class="column is-3-tablet is-6-mobile">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <header class="card-header">
                <p class="card-header-title">
                  Panadol 50 mg
                </p>

              </header>

              <div class="card-content ">
                <p class="is-left">Rs. 23</p>
              </div>
              <footer class="card-footer">

                <button class="button btn is-primary is-rounded is-small-mobile  is-focused " style="margin-left: 50%;" >Add to Cart</button>

              </footer>
            </div>
          </div>
        </div>
  <!-- section2 -->
  <div class="column is-3-tablet is-6-mobile">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <header class="card-header">
          <p class="card-header-title">
            Panadol 50 mg
          </p>

        </header>

        <div class="card-content ">
          <p class="is-left">Rs. 23</p>
        </div>
        <footer class="card-footer">

          <button class="button btn is-primary is-rounded is-small-mobile  is-focused " style="margin-left: 50%;" >Add to Cart</button>

        </footer>
      </div>
    </div>
  </div>

  <div class="column is-3-tablet is-6-mobile">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <header class="card-header">
          <p class="card-header-title">
            Panadol 50 mg
          </p>

        </header>

        <div class="card-content ">
          <p class="is-left">Rs. 23</p>
        </div>
        <footer class="card-footer">

          <button class="button btn is-primary is-rounded is-small-mobile  is-focused " style="margin-left: 50%;" >Add to Cart</button>

        </footer>
      </div>
    </div>
  </div>

  <div class="column is-3-tablet is-6-mobile">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <header class="card-header">
          <p class="card-header-title">
            Panadol 50 mg
          </p>

        </header>

        <div class="card-content ">
          <p class="is-left">Rs. 23</p>
        </div>
        <footer class="card-footer">

          <button class="button btn is-primary is-rounded is-small-mobile  is-focused " style="margin-left: 50%;" >Add to Cart</button>

        </footer>
      </div>
    </div>
  </div>

  <div class="column is-3-tablet is-6-mobile">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <header class="card-header">
          <p class="card-header-title">
            Panadol 50 mg
          </p>

        </header>

        <div class="card-content ">
          <p class="is-left">Rs. 23</p>
        </div>
        <footer class="card-footer">

          <button class="button btn is-primary is-rounded is-small-mobile  is-focused " style="margin-left: 50%;" >Add to Cart</button>

        </footer>
      </div>
    </div>
  </div>

<style>
  .container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-gap: 0.5em;
}

.card{
	height: max-content;
}

.btn {
      font-size:0.875em;
      display:block;
      left:-60px;
      margin-top:35px;
      width:100%;
    }
</style>
