<div style="overflow-y:auto ;overflow-x: auto; height: 500px;">
  <table class="table is-full menu-list"  >
    <tbody>
      <div class="" *ngFor="let docOrder of doctorOrderService.pickedUpDocOrders | async">
        <tr >
          <div class="div columns  is-full btn r" style="margin: 0;">
              <div class="div column" >
                <table class="table is-full">
                  <thead style="font-weight: bold;">
                    <td>Doctor Name</td>
                    <td>Doctor Contact </td>
                    <td >DoctorID </td>
                    <td >Doctor Email </td>
                    <td >Drug Names </td>
                    <td>Drug Prices</td>
                    <td>Quantities</td>
                    <td >Total</td>
                    <td >Scheduled Pickup Date</td>
                    <td >Actual Pickup date</td>
                    <td> Case Number </td>
                    <td> Dispense Status </td>
                  </thead>
                  <tbody>
                    <td>{{docOrder.doctorName}}</td>
                    <td>{{docOrder.doctorContact}} </td>
                    <td >{{docOrder.doctorId}} </td>
                    <td >{{docOrder.doctorEmail}}</td>
                    <td >{{docOrder.drugName[0]}}<br>{{docOrder.drugName[1]}}<br>{{docOrder.drugName[2]}}<br>{{docOrder.drugName[3]}}<br>{{docOrder.drugName[4]}}<br>{{docOrder.drugName[5]}}</td>
                    <td>{{docOrder.drugPrice[0]}}<br>{{docOrder.drugPrice[1]}}<br>{{docOrder.drugPrice[2]}}<br>{{docOrder.drugPrice[3]}}<br>{{docOrder.drugPrice[4]}}<br>{{docOrder.drugPrice[5]}}</td>
                    <td>{{docOrder.drugQuantity[0]}}<br>{{docOrder.drugQuantity[1]}}<br>{{docOrder.drugQuantity[2]}}<br>{{docOrder.drugQuantity[3]}}<br>{{docOrder.drugQuantity[4]}}<br>{{docOrder.drugQuantity[5]}}  </td>
                    <td >{{docOrder.totalAmount}} </td>
                    <td >{{docOrder.pickupDate}} </td>
                    <td >{{docOrder.actualDate}} </td>
                    <td> {{docOrder.caseNumber}} </td>
                    <td>{{docOrder.dispenseStatus}}</td>
                  </tbody>
                </table>
              </div>
          </div>
        </tr>
        <br>
      </div>
  <br>



    </tbody>
  </table>
  </div>
  <style>

    .menu-list{
      border-radius: 2px;
      width: 100%;
      display: block;
      padding: 10px;
      }
      .btn{
        width: 100%;
        color:hsl(0, 0%, 21%);
        background-color: hsl(0, 0%, 88%);
        border-radius: 3px;
      }
      .newclass :hover{
        background-color: hsl(0, 0%, 21%);
        color: hsl(0, 0%, 88%);
      }

  </style>
