<div class="columns is-multiline top">
  <div class="column side">
    <div class="box fill-color" >
      <div class="heading">Top Seller Total</div>
      <div class="title">56,950</div>
      <div class="level">
        <div class="level-item">
          <div class="">
            <div class="heading">Sales $</div>
            <div class="title is-5">250,000</div>
          </div>
        </div>
        <div class="level-item">
          <div class="">
            <div class="heading">Overall $</div>
            <div class="title is-5">750,000</div>
          </div>
        </div>
        <div class="level-item">
          <div class="">
            <div class="heading">Sales %</div>
            <div class="title is-5">25%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column side">
    <div class="box fill-color ">
      <div class="heading">Revenue / Expenses</div>
      <div class="title">55% / 45%</div>
      <div class="level">
        <div class="level-item">
          <div class="">
            <div class="heading">Rev Prod $</div>
            <div class="title is-5">30%</div>
          </div>
        </div>
        <div class="level-item">
          <div class="">
            <div class="heading">Rev Serv $</div>
            <div class="title is-5">25%</div>
          </div>
        </div>
        <div class="level-item">
          <div class="">
            <div class="heading">Exp %</div>
            <div class="title is-5">45%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column side">
    <div class="box fill-color ">
      <div class="heading">Feedback Activity</div>
      <div class="title">78% &uarr;</div>
      <div class="level">
        <div class="level-item">
          <div class="">
            <div class="heading">Positive</div>
            <div class="title is-5">1560</div>
          </div>
        </div>
        <div class="level-item">
          <div class="">
            <div class="heading">Negative</div>
            <div class="title is-5">368</div>
          </div>
        </div>
        <div class="level-item">
          <div class="">
            <div class="heading">Pos/Neg %</div>
            <div class="title is-5">77% / 23%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column side">
    <div class="box fill-color ">
      <div class="heading">Orders / Returns</div>
      <div class="title">75% / 25%</div>
      <div class="level">
        <div class="level-item">
          <div class="">
            <div class="heading">Orders $</div>
            <div class="title is-5">425,000</div>
          </div>
        </div>
        <div class="level-item">
          <div class="">
            <div class="heading">Returns $</div>
            <div class="title is-5">106,250</div>
          </div>
        </div>
        <div class="level-item">
          <div class="">
            <div class="heading">Success %</div>
            <div class="title is-5">28,5%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .fill-color{
    background-color: hsl(171, 55%, 76%);

  }
  .top{
    margin-top: 3%;
  }
  .side{
    padding-left: 5%;
  }
</style>
