<div style="overflow-y:auto ;overflow-x: hidden;height: 500px;">


  <table class="table is-full" style="width:100%">
    <thead>
      <tr>
        <th>NAME</th>
        <th>ID</th>
        <th>QUANTITY</th>
        <th>EXPIRE DATE</th>
        <th>PRICE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ITEM - cell A1</td>
        <td>ITEM - cell B1</td>
        <td><input type="number" class="is-center" id="number" value="1" style="width: 50%;" /></td>
        <td>ITEM - cell D1</td>
        <td>ITEM - cell E1</td>
      </tr>
      <tr>
        <td>ITEM - cell A2</td>
        <td>ITEM - cell B2</td>
        <td><input type="number" class="is-center" id="number" value="1" style="width: 50%;" /></td>
        <td>ITEM - cell D2</td>
        <td>ITEM - cell E2</td>
      </tr>
      <tr>
        <td>ITEM - cell A3</td>
        <td>ITEM - cell B3</td>
        <td><input type="number" class="is-center" id="number" value="1" style="width: 50%;" /></td>
        <td>ITEM - cell D3</td>
        <td>ITEM - cell E3</td>
      </tr>
      <tr>
        <td>ITEM - cell A4</td>
        <td>ITEM - cell B4</td>
        <td><input type="number" class="is-center" id="number" value="1" style="width: 50%;" /></td>
        <td>ITEM - cell D4</td>
        <td>ITEM - cell E4</td>
      </tr>
      <tr>
        <td>ITEM - cell A5</td>
        <td>ITEM - cell B5</td>
        <td><input type="number" class="is-center" id="number" value="1" style="width: 50%;" /></td>
        <td>ITEM - cell D5</td>
        <td>ITEM - cell E5</td>
      </tr>
      <tr>
        <td>ITEM - cell A6</td>
        <td>ITEM - cell B6</td>
        <td><input type="number" class="is-center" id="number" value="1" style="width: 50%;" /></td>
        <td>ITEM - cell D6</td>
        <td>ITEM - cell E6</td>
      </tr>
    </tbody>
  </table>



  </div>
  <style>

    .menu-list{
      border-radius: 2px;
      width: 220%;
      display: block;
      padding: 10px;
      }
      .btn{
        width: 100%;
        color:hsl(0, 0%, 21%);
        background-color: hsl(0, 0%, 88%);
        border-radius: 3px;
      }
      .newclass :hover{
        background-color: hsl(0, 0%, 21%);
        color: hsl(0, 0%, 88%);
      }

  </style>
  <script>

  </script>

