name: Docker Image CI

on:
  pull_request:
    branches: [ master ]
  workflow_dispatch:


jobs:
  docker-ci: 
    runs-on: ubuntu-latest
    steps:

    - name: Checkout Repository
      uses: actions/checkout@v2
      
    - name: Test Server Docker image Builds
      run: docker build .